/* Ensure the diagram is responsive */
.diagram svg {
  padding-top: 10px;
  transform: translateX(+290px); /* Move the diagram to the left */
  width: 100%; /* Full width of the diagram area */
  height: 100%; /* Full height of the diagram area */
}
/* Diagram styling */
.diagram {
  border: 0; /* Remove border */
  padding: 0; /* Remove padding */
  grid-column: 1; /* Place in the first column */
  width: 700px; /* Full width of the allocated column */
  height: 400px; /* Set a specific height for the diagram to make it larger */
  transform: translateX(-550px); /* Move the diagram container to the left */
}
