
<div>
  <button (click)="showFlow('tokenization')">Flow tokenization</button>
  <button (click)="showFlow('detokenization')">Flow detokenization</button>
  <button (click)="showFlow('proxy')">Flow proxy</button>
  <br/><br>
  <button (click)="highlight('show_iframe')">Highlight show_iframe</button>
  <button (click)="highlight('tokenize')">Highlight tokenize</button>
  <button (click)="highlight('detokenize')">Highlight detokenize</button>
  <br>
  <button (click)="highlight('sendto_server')">Highlight sendto_server</button>
  <button (click)="highlight('view_tokens')">Highlight view_tokens</button>
  <button (click)="highlight('proxy')">Highlight proxy</button>
</div>
