<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5">
      <diagram></diagram>
    </div>
    <div class="col-lg-7">
      <div class="main-container">
        <!-- Configuration Area -->
        <div id="config-area" [ngClass]="{ 'folded': isConfigFolded }">
          <h2>Demo Configuration</h2>
          <button class="fold-button" (click)="toggleConfigFold()">
            {{ isConfigFolded ? 'v' : '^' }}
          </button>

          <div *ngIf="!isConfigFolded">
            <p>Enter your credentials, Template ID, and configure the IFrame settings</p>

            <!-- Save Settings Name Input -->
            <div class="input-group">
              <label for="settingName">Save Settings As:</label>
              <input type="text" id="settingName" [(ngModel)]="settingName"
                     placeholder="Enter a name for your settings"/>
            </div>
            <br>
            <!-- User Credentials in One Row -->
            <div class="input-row">
              <div class="input-group">
                <label for="usernameInput">Username:</label>
                <input type="text" id="usernameInput" [(ngModel)]="username" placeholder="Enter Username"/>
              </div>
              <div class="input-group">
                <label for="passwordInput">Password:</label>
                <input type="password" id="passwordInput" [(ngModel)]="password" placeholder="Enter Password"/>
              </div>
            </div>

            <!-- Template ID and Base URL in One Row -->
            <div class="input-row">
              <div class="input-group">
                <label for="templateId">Template ID:</label>
                <input type="text" id="templateId" placeholder="Enter Template ID" [(ngModel)]="templateId"/>
              </div>
              <div class="input-group">
                <label for="baseUrl">Base URL:</label>
                <select id="baseUrl" [(ngModel)]="baseUrl">
                  <option value="https://secure-cert.shieldconex.com">Cert</option>
                  <option value="https://secure.shieldconex.com">Production</option>
                </select>
              </div>
            </div>

            <!-- Width and Height in One Row -->
            <div class="input-row">
              <div class="input-group">
                <label for="width">Width:</label>
                <input type="text" id="width" [(ngModel)]="width" placeholder="e.g., 600px"/>
              </div>
              <div class="input-group">
                <label for="height">Height:</label>
                <input type="text" id="height" [(ngModel)]="height" placeholder="e.g., 800px"/>
              </div>
            </div>


            <!-- Load and Delete Saved Settings Section -->
            <div class="load-delete-settings-container">
              <div class="dropdown-and-buttons">
                <div class="input-group">
                  <label for="savedSettingsDropdown">Load Saved Settings:</label>

                  <select id="savedSettingsDropdown" [(ngModel)]="settingName" (change)="loadUserSettings(settingName)">
                    <option *ngFor="let savedSettingName of savedSettingNames" [value]="savedSettingName">
                      {{ savedSettingName }}
                    </option>
                  </select>
                </div>

                <div class="button-group">
                  <br>
                  <button class="save-button" (click)="saveUserSettings()">Save Settings</button>
                  <button class="delete-button" (click)="deleteSavedSetting(settingName)" [disabled]="!settingName">
                    Delete Selected Setting
                  </button>
                </div>
              </div>
            </div>


            <!-- Tabs Section -->
            <br><br>
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="custom-nav-tabs">
              <li [ngbNavItem]="1">
                <button ngbNavLink>Database</button>
                <ng-template ngbNavContent>
                  <!-- Database Table -->
                  <div id="database-table">
                    <h2>Database</h2>
                    <table>
                      <thead>
                      <tr>
                        <th>ID</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of db.data">
                        <td>{{ item.messageId }}</td>
                        <td>
                          <button (click)="viewTokens(item.bfid)">View Tokens</button>
                          <button class="detokenize-button" (click)="onDetokenizeButtonClick(item.bfid)">Detokenize
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-template>
              </li>

              <!-- IFrame Tab Content -->
              <li [ngbNavItem]="2">
                <button ngbNavLink>IFrame</button>
                <ng-template ngbNavContent>
                  <div id="iframe-toggle-area" [ngClass]="{ 'folded': isIframeFolded }">
                    <div id="iframe-container">
                      <h2>IFrame</h2>
                      <td>
                        <button class="load-iframe-button" (click)="onGoButtonClick()">Load Iframe</button>
                      </td>
                      <br/><br/>
                      <div id="frame1" class="iframe"></div> <!-- Loaded IFrame -->
                      <br/><br/>
                      <td>
                        <button *ngIf="isGoPressed" class="clear-button" (click)="onClearButtonClick()">Clear</button>
                        <button *ngIf="isGoPressed" class="tokenize-button" (click)="onTokenizeButtonClick()">Tokenize
                        </button>
                      </td>
                    </div>
                  </div>
                </ng-template>
              </li>


              <!-- Console Tab -->
              <li [ngbNavItem]="3">
                <button ngbNavLink>Console</button>
                <ng-template ngbNavContent>
                  <!-- Console Area -->
                  <div id="right-column">
                    <h2>Console</h2>
                    <div class="result-section">
                  <pre>
                    <code id="combined-result">
                      <h3>IFrame Render Status</h3>
                      <div>{{ iframeRenderStatus }}</div>
                      <div>MessageID: {{ readResponse?.messageId }}</div>
                      <h3>Error Messages</h3>
                      <div>
                        <h3>Tokenized Data</h3>
                        <div *ngFor="let e of SCXTokens">
                          Name: {{ e.name }}, Value: {{ e.value }}
                        </div>
                        <h3>Token Data</h3>
                        <div *ngFor="let e of tokenData">
                          BFID: {{ e.token }}
                        </div>
                        <h3>Detokenized Data</h3>
                        <div *ngFor="let e of detokenizedData; let i = index">
                          Name: {{ SCXTokens[i].name }}, Detokenized Value: {{ e }}
                        </div>
                      </div>
                    </code>
                  </pre>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>

            <!-- Render content for the active tab -->
            <div [ngbNavOutlet]="nav"></div>
          </div>
        </div>
      </div>
    </div>
