.container-fluid {
  padding: 20px;
}

.main-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-group {
  flex: 1;
  margin-right: 20px;
}

.input-group:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}


.diagram {
  border: 0;
  padding: 0;
  grid-column: 1;
}


#config-area {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}


#right-column {
  border: 1px solid #ddd;
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}


.button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  padding-top: 10px;
  flex: 1;
  margin: 0 10px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: #007BFF;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


button:hover {
  background-color: #0056b3;
}


.diagram svg {
  padding-top: 10px;
  width: 100%;
  height: 100%;
}


button.console-button {
  background-color: #6c757d;
  flex: 1;
  margin: 0 10px;
}


#database-table {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-left: 5px;
}


table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}


thead {
  background-color: #f8f9fa;
}

th {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
}


tbody tr {
  transition: background-color 0.2s;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e9ecef;
}


td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}


td button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


td button:hover {
  background-color: #0056b3;
}


.fold-button {
  padding-top: 10px;
  background: #6c757d;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}


.fold-button:hover {
  background: #5a6268;
}


#iframe-container {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;

}


#iframe-container .iframe {
  width: 100%;
  height: 600px;
  border: none;
  background-color: #f8f9fa;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.custom-nav-tabs {
  border-radius: 5px;
}


.custom-nav-tabs button {
  padding: 5px 15px;
  margin-right: 5px;
  background-color: rgb(128, 128, 128);
  border: 2px solid transparent;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
}


.custom-nav-tabs button:not(.active) {
  background-color: rgb(128, 128, 128);
  color: white;
}


.custom-nav-tabs button:hover {
  background-color: rgb(105, 105, 105);
  color: white;
}

.custom-nav-tabs button.active {
  background-color: rgb(70, 130, 180);
  border: 2px solid rgb(0, 128, 255);
}


.ngbNavContent {
  padding: 15px;
  background-color: white;
  border: 1px solid #e9ecef;
  border-radius: 5px;
}


.dropdown-wrapper {
  position: relative;
  display: inline-block;
}


#savedSettingsDropdown {
  padding: 5px;
  margin-right: 10px;
  font-size: 14px;
}

.load-delete-settings-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0;
}

.dropdown-and-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button-group {
  gap: 10px;
}

.input-group label {
  font-weight: bold;
}

.save-button,
.delete-button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.save-button:hover,
.delete-button:hover {
  background-color: #0056b3;
}
#config-area h2 {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between heading and button */
}

.fold-button {
  display: inline-block;
  vertical-align: middle;
}
