
<div class="container-fluid">

  <div class="row">
    <div class="col-lg-5">
      <diagram></diagram>
    </div>
    <div class="col-lg-7">
      <div class="main-container">
        <!-- Configuration Area -->
        <div id="config-area" [ngClass]="{ 'folded': isConfigFolded }">
          <h2>Demo Configuration</h2>
          <button class="fold-button" (click)="toggleConfigFold()">
            {{ isConfigFolded ? 'v' : '^' }}
          </button>

          <div *ngIf="!isConfigFolded">
            <p>Enter your credentials, Template ID, and configure the IFrame settings</p>

            <!-- User Credentials in One Row -->
            <div class="input-row">
              <input type="text" id="usernameInput" [(ngModel)]="username" placeholder="Enter Username" />
              <input type="password" id="passwordInput" [(ngModel)]="password" placeholder="Enter Password" />
            </div>

            <!-- Template ID and Base URL in One Row -->
            <div class="input-row">
              <input type="text" placeholder="Enter Template ID" [(ngModel)]="templateId" />
              <select [(ngModel)]="baseUrl">
                <option value="https://secure-cert.shieldconex.com">Cert</option>
                <option value="https://secure.shieldconex.com">Production</option>
              </select>
            </div>

            <!-- Width and Height in One Row -->
            <div class="input-row">
              <input type="text" [(ngModel)]="width" placeholder="Enter Width (e.g., 600px)" />
              <input type="text" [(ngModel)]="height" placeholder="Enter Height (e.g., 800px)" />
            </div>
          </div>
        </div>
        <br><br>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="custom-nav-tabs"> <!-- Updated class name -->
          <li [ngbNavItem]="1">
            <button ngbNavLink>Database</button>
            <ng-template ngbNavContent>
              <!-- Database Table -->
              <div id="database-table">
                <h2>Database</h2>
                <table>
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of databaseItems">
                    <td>{{ item.id }}</td>
                    <td>
                      <button (click)="viewTokens(item.id)">View Tokens</button>
                      <button class="detokenize-button" (click)="onDetokenizeButtonClick()">Detokenize</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>

          <li [ngbNavItem]="2">
            <button ngbNavLink>IFrame</button>
            <ng-template ngbNavContent>
              <!-- IFrame Toggle Section -->
              <div id="iframe-toggle-area" [ngClass]="{ 'folded': isIframeFolded }">
                <div id="iframe-container">
                  <h2>IFrame</h2>
                  <button class="go-button" (click)="onGoButtonClick()">Load Iframe</button>
                  <br>
                  <br>
                  <div id="frame1" class="iframe"></div> <!-- Loaded IFrame -->
                  <br /><br />
                  <div class="button-row">
                    <button *ngIf="isGoPressed" class="clear-button" (click)="onClearButtonClick()">Clear</button>
                    <button *ngIf="isGoPressed" class="tokenize-button" (click)="onTokenizeButtonClick()">Tokenize</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>

          <li [ngbNavItem]="3">
            <button ngbNavLink>Console</button>
            <ng-template ngbNavContent>
              <!-- Console Area -->
              <div id="right-column">
                <h2>Console</h2>
                <div class="result-section">
          <pre>
            <code id="combined-result">
              <h3>IFrame Render Status</h3>
              <div>{{ iframeRenderStatus }}</div>
              <h3>Error Messages</h3>
              <div>
                <div *ngFor="let e of iframeErrors">{{ e }}</div>
              </div>
              <h3>Token Data</h3>
              <div *ngFor="let e of tokenData">
                BFID: {{ e.token }}
              </div>
              <h3>Tokenized Data</h3>
              <div *ngFor="let e of SCXTokens">
                Name: {{ e.name }}, Value: {{ e.value }}
              </div>
              <h3>Detokenized Data</h3>
              <div *ngFor="let e of detokenizedData; let i = index">
                Name: {{ SCXTokens[i].name }}, Detokenized Value: {{ e | json }}
              </div>
              <div>MessageID: {{ readResponse?.messageId }}</div>
            </code>
          </pre>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>

        <!-- Render content for the active tab -->
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</div>
