<div [ngClass]="{ 'fullscreen': isFullscreen }" class="main-container">
  <div class="header-container">
    <h4>
      Proxy
    </h4>

    <button
      class="btn btn-outline-secondary btn-sm ms-2 align-right"
      (click)="toggleFullscreen()"
    >
      <i class="fas" [ngClass]="isFullscreen ? 'fa-compress' : 'fa-expand'"></i>
      {{ isFullscreen ? 'Exit Fullscreen' : 'Fullscreen' }}
    </button>
  </div>

  <!-- Tab Navigation -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 1" (click)="activeTab = 1">Edit Configuration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 2" (click)="activeTab = 2">Proxy Request</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 3" (click)="activeTab = 3">Destination</a>
    </li>
  </ul>

  <!-- Edit Configuration Tab -->
  <div *ngIf="activeTab === 1 && isConfigVisible" id="edit-config-container">
    <div class="form-grid">
      <div class="form-group">
        <label for="proxyUrl">Proxy URL:</label>
        <input type="text" id="proxyUrl" [(ngModel)]="url" placeholder="Enter Proxy URL"/>
      </div>
      <div class="form-group">
        <label for="proxyConfigId">Proxy Config ID:</label>
        <input type="text" id="proxyConfigId" [(ngModel)]="proxyId" placeholder="Enter Proxy Config ID"/>
      </div>
    </div>

    <div class="form-grid">
      <div class="form-group">
        <label for="headers">Custom Request Headers:</label>
        <textarea id="headers" [(ngModel)]="headers" rows="3" placeholder="Enter request headers"></textarea>
      </div>
      <div class="form-group">
        <label for="scxPartnerId">SCX Partner ID:</label>
        <textarea id="scxPartnerId" [(ngModel)]="scxPartnerId" rows="3" placeholder="Enter SCX Partner ID"></textarea>
      </div>
    </div>

    <div class="form-grid">
      <div class="form-group">
        <label for="payload">Request Body:</label>
        <textarea id="payload" [(ngModel)]="payload" rows="3" placeholder="Enter request payload"></textarea>
      </div>
      <div class="form-group">
        <label for="payload">Substitute Data:</label>
        <textarea id="subData" [(ngModel)]="substituteData" rows="3" placeholder="Enter request payload"></textarea>
      </div>
    </div>

    <div class="form-grid">
      <div class="form-group">
        <label for="configName">Save Config Name:</label>
        <input type="text" id="configName" [(ngModel)]="saveConfigName" placeholder="Enter configuration name"/>
      </div>
      <div class="form-group">
        <label for="savedConfigs">Manage Saved Configs:</label>
        <select id="savedConfigs" [(ngModel)]="selectedConfigId" class="form-select">
          <option *ngFor="let config of savedConfigs" [value]="config.configId">{{ config.name }}</option>
        </select>
      </div>
    </div>

    <div class="button-row">
      <button class="btn btn-primary" (click)="loadSelectedConfig()">Load</button>
      <button class="btn btn-primary" (click)="deleteSelectedConfig()">Delete</button>
      <button class="btn btn-outline-secondary" (click)="saveConfig()">Save</button>
      <button class="btn btn-outline-secondary" (click)="sendRequest()">Go</button>
    </div>
  </div>

  <div *ngIf="activeTab === 2">
    <div class="pre-container" style="position: relative;">
      <pre>{{ formattedCurlRequest }}</pre>
      <button (click)="copyToClipboard(formattedCurlRequest)" class="copy-button">
        <i class="fas fa-copy"></i> <!-- Copy Icon -->
      </button>
    </div>
    <button class="btn btn-primary" (click)="makeProxyCall()">Go</button>
    <br/>
    <br/>
    Response Status Code:
    <div class="pre-container" style="position: relative;">
      <pre>{{ responseCode }}</pre>
    </div>
    Response Headers:
    <div class="pre-container" style="position: relative;">
      <pre>{{ responseHeaders }}</pre>
    </div>
    Response Body:
    <div class="pre-container" style="position: relative;">
      <pre>{{ responseBody }}</pre>
      <button (click)="copyToClipboard(responseBody)" class="copy-button">
        <i class="fas fa-copy"></i> <!-- Copy Icon -->
      </button>
    </div>
  </div>


  <!-- Destination Tab -->
  <div *ngIf="activeTab === 3">
    <!-- Add more content related to the destination here -->
  </div>
</div>
